{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="row">
    <div class="col">
        <h1>Arrange, Act, Assert Testing</h1>
        <p>Information on AAA (Arrange, Act, Assert). Project implements it via
            <a href="/python_dev#pytest">pytest</a>.
        </p>
        <ul>
            <li>Arrange input, targets, and data (arrange the data)
            </li>
            <li>Act on the target behavior (perform action)</li>
            <li>Assert is correct (assertion)</li>
        </ul>
    </div>

    <p></p>

    <div class="col-2">

    </div>
</div>
</div>

{% endblock %}