{% extends "base.html" %}
{% block content %}
<h1>LY23 Bootstrap Index Webpage</h1>

<div class="row">
    <img src="{{ url_for('static', filename='images/sample.jpeg') }}" class="img-fluid"
        alt="sample main splash image" />
</div>

<h2>Intro Text</h2>
<div class="row">
    <div class="col">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim praesent elementum
            facilisis leo. Ornare massa eget egestas purus. Pharetra vel turpis nunc eget. Urna
            molestie at elementum eu. Nulla facilisi nullam vehicula ipsum. Eros in cursus turpis massa tincidunt.
            Feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper. Tortor at auctor urna nunc id.
            Erat nam at lectus urna duis convallis.
        </p>
    </div>
    <div class="col">
        <p>
            Eget arcu dictum varius duis at consectetur lorem. Risus viverra adipiscing at in tellus integer.
            Tincidunt praesent
            semper feugiat nibh sed. Elementum tempus egestas sed sed risus pretium quam. Id aliquet lectus
            proin nibh nisl
            condimentum id. Auctor eu augue ut lectus arcu. Varius vel pharetra vel turpis nunc eget. Vel turpis
            nunc eget lorem
            dolor sed viverra ipsum. Ultricies tristique nulla aliquet enim tortor at. Euismod lacinia at quis
            risus sed
            vulputate odio. Vel elit scelerisque mauris pellentesque. Nunc sed id semper risus in hendrerit
            gravida.
        </p>
    </div>
    <div class="col">
        <p>
            Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in. Vel eros donec ac odio tempor
            orci
            dapibus ultrices in. Molestie nunc non blandit massa enim nec dui nunc mattis. Leo urna molestie at
            elementum eu
            facilisis sed odio morbi. At tempor commodo ullamcorper a lacus vestibulum sed arcu non. Habitasse platea
            dictumst
            vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Sodales neque sodales ut etiam. Et leo duis
            ut
            diam
            quam nulla porttitor. Cras sed felis eget velit aliquet sagittis id consectetur.
        </p>
    </div>
</div>
{% endblock %}