{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="row">
    <div class="col">
        <h1>SOLID and Design Patterns</h1>

        <p>Information on software design concepts referred to as SOLID and Design Patterns. Will be
            illustrated with design and code from the project.
        </p>

        <ul>
            <li>Single Responsiblity Principle</li>
            <li>Open Closed Principle</li>
            <li>Liskov Substituion Principle</li>
            <li>Interface Segregation Principle</li>
            <li>Depedency Inversion Principle</li>
        </ul>

        <p>Design Patterns come from the observation that problems repeat themselves, and reuse design
            solutions that utilize OOP and SOLID. 
        </p>
        <hr>

        <h2>SOLID</h2>
        <dl class="row">
            <dt class="col-sm-3">Single Responsiblity Principle</dt>
            <dd class="col-sm-9"></dd>
            <dt class="col-sm-3">Open Closed Principle</dt>
            <dd class="col-sm-9"></dd>
            <dt class="col-sm-3">Liskov Substituion Principle</dt>
            <dd class="col-sm-9"></dd>
            <dt class="col-sm-3">Interface Segregation Principle</dt>
            <dd class="col-sm-9"></dd>
            <dt class="col-sm-3">Depedency Inversion Principle</dt>
            <dd class="col-sm-9"></dd>
        </dl>
        <hr>

        <h2>Design Patterns</h2>

        <hr>
    </div>

    <div class="col-2">
        <figure class="figure">
              <img src="{{ url_for('static', filename='images/noun-pattern-750038.png') }}"
                   class="rounded figure-img img-fluid" alt="Patterns Icon"/>
              <!-- image source https://thenounproject.com/icon/pattern-750038/ Basic License -->
            </figure>
    </div>
</div>
</div>

{% endblock %}