{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="row">
    <div class="col">
        <h1>SOLID and Design Patterns</h1>

        <p>Information on software design concepts referred to as SOLID and Design Patterns. Will be
            illustrated with design and code from the project.
        </p>

        <ul>
            <li>Single Responsiblity Principle</li>
            <li>Open Closed Principle</li>
            <li>Liskov Substituion Principle</li>
            <li>Interface Segregation Principle</li>
            <li>Depedency Inversion Principle</li>
        </ul>

        <p>Design Patterns come the observation that problems repeat themselves, and reuse design solutions
            that utilize OOP and SOLID. 
        </p>
    </div>

    <div class="col-2">

    </div>
</div>
</div>

{% endblock %}